<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="resume.css">
</head>
<body>
  <page size="A4">
    <div class="container">
      <div class="leftPanel">
        <img src="avatar.jpg"/>
        <div class="details">
          <div class="item bottomLineSeparator">
            <h2>
              CONTACT
            </h2>
            <div class="smallText">
              <p>
                <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                <a href="tel:+14109419553">410.941.9553</a>
              </p>
              <p>
                <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                <a href="mailto:justquick@gmail.com">
                  justquick@gmail.com
                </a>
              </p>
              <p>
                <i class="fa fa-map-marker contactIcon" aria-hidden="true"></i>
                Baltimore, MD, USA
              </p>
              <p>
                <i class="fa fa-linkedin-square contactIcon" aria-hidden="true"></i>
                <a href="https://www.linkedin.com/in/justquick">
                  in/justquick
                </a>
              </p>
              <p class="lastParagrafNoMarginBottom">
                <i class="fa fa-github-square contactIcon" aria-hidden="true"></i>
                <a href="https://github.com/justquick">
                  justquick
                </a>
              </p>
            </div>
          </div>
          <div class="item bottomLineSeparator">
            <h2>
              SKILLS
            </h2>
            <div class="smallText">
              {% for skill,years in info.skills.items() %}
              <div class="skill">
                <div>
                  <span>{{ skill }}</span>
                </div>
                <div class="yearsOfExperience">
                  <span class="alignright">{{ years }}</span>
                  <span class="alignleft">years</span>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
          <div class="item">
            <h2>
              EDUCATION
            </h2>
            <div class="smallText">
              <p class="bolded white">
                Computer Science Major, Bachelors of Arts
              </p>
              <p>
                Goucher College
              </p>
              <p>
                Class of 2009
              </p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="rightPanel">
        <div>
          <h1>
            Justin Quick
          </h1>
          <div class="smallText">
            <h3>
              Software Developer & Technologist
            </h3>
          </div>
        </div>
        <div>
          <h2>
            About me
          </h2>
          <div class="smallText">
            <p>
           {{ info.mission }}
            </p>
          </div>
        </div>
        <div class="workExperience">
          <h2>
            Work experience
          </h2>
          <ul>

          {% for work in works %}
          <li>
            <div class="jobPosition bolded">
              <span>
                {{ work.company }}
              </span>
              <span>
                {{ work.dates }}
              </span>
            </div>
            <div class="projectName bolded">
              <span>
                {{ work.position }}
              </span>
            </div>
            <ul class="large">

            </ul>

            <div class="smallText">
              <ul>
                {% for duty in work.duties %}
                <li>{{ duty|safe }}</i>
                {% endfor %}
              </ul>
              <!-- <p>
                <span class="bolded">Skills: </span>Accounting, Word, Powerpoint
              </p> -->
            </div>
          </li>
          {% endfor %}

  
          </ul>
        </div>
      </div>
    </div>
  </page>  
</body>
</html>