/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: url(/content/leafheart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer, header, main {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
    outline-width: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, input, textarea {
    font: inherit;
    margin: 0;
}

button, input {
    overflow: visible;
}

button {
    text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type=checkbox], [type=radio] {
    padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* End extract */
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.image {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

a {
    color: inherit;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

:disabled * {
    pointer-events: none;
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.ul li:last-child {
    border-bottom: none;
}

.display-container {
    position: relative;
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.check {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}

.main, #main {
    transition: margin-left .4s;
}

.block {
    display: block;
    width: 100%;
}

.container:after, .container:before, .row:after, .row:before, .row-padding:after, .row-padding:before {
    content: "";
    display: table;
    clear: both;
}

.third, .twothird {
    float: left;
    width: 100%;
}

@media (min-width:601px) {
    .third {
        width: 33.33333%;
    }

    .twothird {
        width: 66.66666%;
    }
}

.rest {
    overflow: hidden;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: 980px;
}

.hide {
    display: none !important;
}

.show-block, .show {
    display: block !important;
}

@media (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width:992px) {
    .main {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.top, .bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.display-position {
    position: absolute;
}

.round {
    border-radius: 4px;
}

.round-large {
    border-radius: 8px;
}

.round-xlarge {
    border-radius: 16px;
}

.round-xxlarge {
    border-radius: 32px;
}

.row-padding, .row-padding>.third, .row-padding>.twothird {
    padding: 0 8px;
}

.container {
    padding: 0.01em 16px;
}

.card, .card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes fading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.opacity {
    opacity: 0.60;
}

.opacity-max {
    opacity: 0.25;
}

.opacity-min {
    opacity: 0.75;
}

.large {
    font-size: 18px !important;
}

.xlarge {
    font-size: 24px !important;
}

.xxlarge {
    font-size: 36px !important;
}

.center {
    text-align: center !important;
}

.margin {
    margin: 16px !important;
}

.margin-top {
    margin-top: 16px !important;
}

.margin-bottom {
    margin-bottom: 16px !important;
}

.margin-left {
    margin-left: 16px !important;
}

.margin-right {
    margin-right: 16px !important;
}

.padding {
    padding: 8px 16px !important;
}

.padding-large {
    padding: 12px 24px !important;
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

/* Colors */
.orange {
    color: #000 !important;
    background-color: #f8592e !important;
}

.orange {
    color: #fff !important;
    background-color: #f8592e !important;
}

.white {
    color: #000 !important;
    background-color: #fff !important;
}

.grey {
    color: #000 !important;
    background-color: #9e9e9e !important;
}

.light-grey {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.dark-grey {
    color: #fff !important;
    background-color: #616161 !important;
}

.text-orange {
    color: #f8592e !important;
}

.text-orange {
    color: #f8592e !important;
}

.text-white {
    color: #fff !important;
}

.text-grey {
    color: #757575 !important;
}

.text-light-grey {
    color: #f1f1f1 !important;
}

.text-dark-grey {
    color: #3a3a3a !important;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.info-item {
    margin: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.topnav a.logo {
    padding: 10px 20px 10px 0;
}

/* Change the color of links on hover */
.topnav a.link:hover {
    background-color: blue;
    color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-top: 5px solid #f8592e;
    border-bottom: 5px solid #f8592e;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding-left: 14px;
    transition: 0.3s;
    height: 60px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ffbead;
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    background-color: #f8592e;
    color: #fff;
}

.tablinks {
    font-size: 30px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

/*
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
    overflow: hidden
}

body.ready {
    border: 1px solid #eee;
    border-radius: 5px;
    border-color: #eee #ddd #bbb;
    box-shadow: rgba(0,0,0,.14) 0 1px 3px
}
*/
.github-card {
    text-align: center;
    border-radius: 5px;
    background: #fff;
    color: #555;
    position: relative;
}

.github-card .header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 200px;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.github-card .avatar {
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
    -webkit-transition: -webkit-transform .2s ease-in-out;
}

.github-card h1 {
    color: #111;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.github-card ul {
    text-transform: uppercase;
    font-size: 12px;
    color: #707070;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    zoom: 1;
}

.github-card ul:after {
    display: block;
    content: '';
    clear: both;
}

.user-card .header {
    background-image: url(/bg1.jpg);
}

.user-card .User {
    background-position: top left;
}

.user-card .avatar {
    margin-top: -100px;
    border: 5px solid #f8592e;
    position: relative;
}

.user-card img {
    display: block;
}

.user-card h1 {
    letter-spacing: -.06em;
    margin: 16px 0 20px;
    line-height: 1;
}

.repo-card .avatar {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid #fff;
}

.repo-card .avatar img {
    display: block;
    width: 48px;
    height: 48px;
}

.repo-card h1 {
    margin: 0;
    padding: 0;
    line-height: 200px;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.repo-card h1 a {
    color: #fff;
    text-decoration: none;
}

.repo-card h1 a:hover {
    opacity: .8;
}

.repo-card .content p {
    font-size: 16px;
    padding: 10px 20px;
}

.repo-card p a {
    text-decoration: none;
    color: #4183c4;
    outline: 0;
}

.repo-card .CSS {
    background: #563d7c;
}

.repo-card .HTML {
    background: #e44b23;
}

.repo-card .JavaScript {
    background: #f1e05a;
}

.repo-card .Python {
    background: #3581ba;
}

.repo-card .Ruby {
    background: #701516;
}
