html
    head
        meta(charset="UTF-8")
        script(type="text/javascript", src="assets/scripts/phaser.min.js")
        style(type="text/css")
            | body {margin: 0;}

    body
        p use left/right to move, up to jump and down to dig. collect all the stars and avoid the baddies
        script(type="text/javascript", src="assets/scripts/game.js")
