<div id="div-contact" class="tabcontent margin-bottom">
    <h2 class="text-grey padding-16"><i class="fa fa-envelope fa-fw margin-right xxlarge text-orange"></i>Contact Me
    </h2>
    <form method="POST" action="https://formspree.io/justquick@gmail.com">
        <h3>Your Email Address<br><input type="email" name="email" placeholder="email"></h3>
        <hr>
        <h3>Your Message<br><textarea rows="4" cols="50" name="message" placeholder="message"></textarea></h3>
        <button type="submit">Send Message</button>
    </form>
</div>
<div id="div-support" class="tabcontent margin-bottom">
    <h2 class="text-grey padding-16"><i class="fa fa-heart fa-fw margin-right xxlarge text-orange"></i>Support
    </h2>
    <div class="container">
        <h3>Please support my ongoing work in open source. Your contributions help keep my projects alive, direct
            my time to the efforts that i love and keep the lights on. Any amount is appreciated. Payments are
            processed through Github Sponsors</h3>
        <iframe src="https://github.com/sponsors/justquick/card" title="Sponsor justquick" height="225" width="600"
            style="border: 0;"></iframe>
    </div>
</div>