<!-- Left Column -->
<div class="third">

    <div class="white text-grey card-4">

        <div class="container">

            <div class="github-card user-card" style="background: none; margin-top: 110px">
                <a class="avatar" href="https://github.com/justquick" target="_top"><img
                        src="https://avatars2.githubusercontent.com/u/35289?v=4&amp;s=200" alt="Justin Quick"></a>
                <p class="xlarge" style="margin: 0;">Software Developer and Technologist</p>
            </div>
            <hr>
            <p class="text-orange large info-item"><i class="fa fa-briefcase"></i><span class="margin-left">CEO of <a
                        href="http://justquick.io">JUSTQUICK, LLC</a> </span></p>
            <p class="text-orange large info-item"><i class="fa fa-briefcase"></i><span class="margin-left">CTO of <a
                        href="http://gnarwhalstudios.com/">Gnarwhal Studios, INC.</a></span></p>
            <p class="text-orange large info-item"><i class="fa fa-globe"></i><span class="margin-left">Baltimore,
                    MD</span></p>
            <p class="text-orange large info-item"><i class="fa fa-envelope"></i><a class="margin-left text-orange"
                    href="mailto:justquick@gmail.com">justquick@gmail.com</a></p>
            <p class="text-orange large info-item"><i class="fa fa-phone"></i><a href="tel:+14109419553"
                    class="margin-left">410.941.9553</a></p>
            <p class="text-orange large info-item"><i class="fa fa-linkedin-square"></i><a
                    href="https://www.linkedin.com/in/justquick" class="margin-left">linkedin.com/in/justquick</a></p>
            <p class="text-orange large info-item"><i class="fa fa-github-square"></i><a
                    href="https://github.com/justquick" class="margin-left">github.com/justquick</a>
            </p>
        </div>
    </div><br>

    <!-- End Left Column -->
</div>