<div id="div-projects" class="tabcontent margin-bottom">
    <h2 class="text-grey padding-16"><i class="fa fa-github-alt fa-fw margin-right xxlarge text-orange"></i>Projects
    </h2>
    <p class="large">Here are a collection of my most popular projects. <br>There are more available if you
        check out <a href="https://github.com/justquick">My GitHub Profile</a><i class="fa fa-github-square xlarge"></i>
    </p>
    <div class="github-widget" data-repo="justquick/google-chartwrapper">
    </div>
    <div class="inline-image"><img
            src="http://chart.apis.google.com/chart?chds=0,100&chd=t:100.0,80.0,60.0,30.0,30.0,30.0,10.0&chs=150x75&cht=v">
    </div>
    <p>My first big project, GChartWrapper is a small Python wrapper around the Google Charts Image API. I began
        writing this app in college and before long I found that it was adopted by <a
            href="https://code.google.com/archive/p/google-chartwrapper/wikis/WhoUsesTheWrapper.wiki">many different
            places all over the internet</a>. The library supports making fancy charts like this beauty here.</p>
    <hr>
    <div class="github-widget" data-repo="justquick/django-activity-stream"></div>
    <div class="inline-image"><img src="https://django-activity-stream.readthedocs.io/en/latest/_static/logo.jpg"
            width="150"></div>
    <p>My biggest project so far with thousands of downloads daily from PyPI. This is a Django Implementation of
        the <a href="http://activitystrea.ms/">activity streams protocol</a>. It's a project space Ive gotten
        interested in
        and am assisting the <a href="https://www.w3.org/Social/WG">W3 Social Web Working Group</a> on developing
        new version drafts. I have also given a <a href="https://www.youtube.com/watch?v=R_tyN8bNe4A">talk at
            Djangocon US 2014</a> on
        this topic. Loads more <a href="https://django-activity-stream.readthedocs.io/en/latest/">information,
            examples and concepts available on the docs</a>.</p>
    <hr>
    <div class="github-widget" data-repo="justquick/python-googlevoice"></div>
    <div class="inline-image"><img
            src="https://storage.googleapis.com/google-code-archive/v2/code.google.com/pygooglevoice/logo.png"
            width="150"></div>

    <p>This project is a Python implementation of the Google Voice App. There was no official API for the
        service so I used my browser to reverse engineer the functionality and put it into ReST calls you could
        make through Python
        and preserve session info. This lead to a bit of an arms race between me and Google after they added an
        extra layer of auth to thwart what I was able to do. I got around it once but they have since added more
        layers of
        security which arent worth my time anymore to get around so the project is defunct</p>
    <hr>
    <div class="github-widget" data-repo="justquick/digit"></div>
    <div class="inline-image"><img src="/digit/assets/images/grass.png" width="150"></div>
    <p>A simiple HTML5 browser game. I tried to emulate the sand level of Super Mario 2 so you can dig up blocks
        of earth to avoid baddies. <a href="/digit/index.html">Give it a try yourself here</a></p>
    <hr>
    <div class="github-widget" data-repo="justquick/mongol"></div>
    <div class="inline-image"><img src="/content/mongol.jpg" width="150"></div>
    <p>My first venture into nonrel DBMS to create a pixel tracking software used on the Washington Times to
        track user analytics and provide an easy way to aggregate usage statistics.
        We used this tool to promote the most popular content based on pageviews</p>

</div>