<div id="div-work" class="tabcontent margin-bottom">
    <h2 class="text-grey padding-16"><i class="fa fa-suitcase fa-fw margin-right xxlarge text-orange"></i>Work
        Experience</h2>

    <div class="container">
        <h3 class="opacity"><b>NASA Space Telescope Science Institute</b></h3>
        <h3 class="opacity">Senior IT Technologist</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 2019 - <span
                class="tag orange round">Present</span></h4>
        <ul class="large">
            <li>Developed Continuous Integration and Deployment systems using Gitlab, Docker and Kubernetes</li>
            <li>Created system performance reporting platform using Tableau and integrated with Gitlab, Jira,
                Confluence, Slack, Box.com, Cisco UC, Jahia, Site 24x7, Uptime and others</li>
            <li>Technical lead for Hubble archive project</li>
            <li>Launched web app to administer training programs for Human Resources</li>
            <li>Created scalable cloud implementation for Houdini 3D rendering clients using VMWare and
                Terraform</i>
        </ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>Gnarwhal Studios, INC.</b></h3>
        <h3 class="opacity">CTO and Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>2005 - <span
                class="tag orange round">Present</span></h4>
        <ul class="large">
            <li>Oversee the technical decisions for the production websites of Gnarhwhal Studios and the Humans vs
                Zombies game.
            <li>Lead project architect for HvZ game tracking web application</li>
            <li>We produce games such as <a href="http://humansvszombies.org">Humans Vs Zombies</a> and <a
                    href="http://slap45.com">Slap 45</a>. Company site is <a
                    href="http://gnarwhalstudios.com/">http://gnarwhalstudios.com/</a>
            </li>
        </ul>
    </div>
    <hr>



    <div class="container">
        <h3 class="opacity"><b>REW Consulting Services</b></h3>
        <h3 class="opacity">Software Engineer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>Oct 2018 - May 2019</span></h4>
        <ul class="large">
            <li>Client is a fortune 50 financial company.<br />
            <li>Built web application on top of Puppet to orchestrate software deployments</li>
            <li>Worked using SOA for micro-service controllers to deploy updates to ~80K nodes..</li>
            <li>Designed search service combining Puppet facts and application data.
        </ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>Anthem Engineering, LLC</b></h3>
        <h3 class="opacity">Senior Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>October 2017 - April 2018
        </h4>
        <ul class="large">
            <li>Integrated Box.com API to use as the file store for our uploaded documents</li>
            <li>Using Redis and django-channels, built real-time communications app to</li>
            send model updates to client using websockets
            <li>Tracked and fixed Ruby/Sinatra bugs while learning Ruby on the job</li>
        </ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>b.well Connected Health</b></h3>
        <h3 class="opacity">Senior Engineer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>September 2016 - November 2016
        </h4>
        <ul class="large">
            <li>Integrated proprietary health insurance databases into MySQL to track
                insurance coverage including copays, deductibles and out of pocket limits</li>
            <li>Normalized tracking of lab results to account for differing test and reference
                levels</li>
            <li>Implemented Stripe payments for monthly subscriptions</li>
            <ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>National Geographic Society</b></h3>
        <h3 class="opacity">Senior Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>April 2013 - July 2016</h4>
        <ul class="large">
            <li>Tech lead for digital magazine app. Implemented CI/CD with Jenkins for main homepage. </li>
            <li>Worked on services team for internal SOA application projects.</li>
            Tech lead on <a href="https://yourshot.nationalgeographic.com/">Your Shot photo sharing community.</a>
            </li>
            <ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>SocialToaster Inc</b></h3>
        <h3 class="opacity">Senior Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>September 2012 - February 2013
        </h4>
        <ul class="large">
            <li>Brought in as a Django consultant to an ongoing project to gameify social amplification of a
                client's content.</li>
            <li>Implemented best practices in CI, testing and documentation.</li>
            <li>Integrated additional social platforms (eg YouTube) into the system to have
                other places to share client's message</li>
        </ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>Bolster Labs Inc. AKA Chalk and Chisel</b></h3>
        <h3 class="opacity"> Senior Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>December 2012</h4>
        <ul class="large">
            <li>Integrated Kentico CMS with Facebook pages for livestrong.org</li>
            <li>Improved site implementation and added activity streams for NASA’s fragileoasis.org</li>
            <li>Created judging interface for National Geographic photography contests</li>
        </ul>

    </div>

    <div class="container">
        <h3 class="opacity"><b>National Geographic Society</b></h3>
        <h3 class="opacity">Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>December 2010 - December 2012
        </h4>
        <ul class="large">
            <li>Worked on a shared Django based CMS for newsroom content production.</li>
            <li>Developed a photo contest submission platform used for <a
                    href="https://www.nationalgeographic.com/travel/contests/travel-photo-contest-2019/">NatGeo Travel
                    and Kids.</a></li>
            <ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>Lifemax Inc.</b></h3>
        <h3 class="opacity">Django Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>June 2009 - June 2010</h4>
        <ul class="large">
            <li>Expanded site to support internationalization and allowed staff to edit multilingual content</li>
            <li>Migrated application stack to Media Temple hosting</li>
            <li>Optimized page load speed and media asset delivery</li>
        </ul>
    </div>
    <hr>

    <div class="container">
        <h3 class="opacity"><b>The Washington Times</b></h3>
        <h3 class="opacity">Web Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>Dec 2008 - June 2010</h4>
        <ul class="large">
            <li>Ellington CMS administer</li>
            <li>Application Development for Python/Django with emphasis on scalability.</li>
            <li>Published several projects and most are opensourced and available on <a
                    href="https://github.com/callowayproject/Calloway">The Calloway Project</a></li>
        </ul>
    </div>

    <div class="container">
        <h3 class="opacity"><b>Open Source Connections</b></h3>
        <h3 class="opacity">Web Application Developer</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>Jan 2008 - Mar 2008</h4>
        <ul class="large">
            <li> Worked on Django applications for work flow management system for work orders</li>
            <li> Created helpful AJAX utilities including CRUD interface</li>
            <li> Debugged and troubleshooted software for users after deployment</li>
        </ul>
    </div>
    <div class="container">
        <h3 class="opacity"><b>Goucher College / Computer Music Department</b></h3>
        <h3 class="opacity">Webmaster & OSX Server Administrator</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>June 2006, June 2007</h4>
        <ul class="large">
            <li> Created site to host and display staff and student projects using Django</li>
            <li> Preformed server maintenance and setup LAMP system with Drupal CMS</li>
            <li> Created community site for live audio collaboration using Django</li>
        </ul>
    </div>

    <div class="container">
        <h3 class="opacity"><b>Go MCN AKA Live Networks Corp.</b></h3>
        <h3 class="opacity">Developer & MySQL Administrator</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>2007</h4>
        <ul class="large">
            <li>Developed website for physician provider information and initial audio telemedicine</li>
            <li>MySQL DBA for MySQL VPS server responsible for user administration and scaling</li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <h3 class="opacity"><b>Groupus / Firefeeds</b></h3>
        <h3 class="opacity">Developer & Fedora Administrator</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>2006</h4>
        <ul class="large">
            <li>Configured social networking site GroupUS with emphasis on real time audio communication</li>
            <li>PBX software deployment for broadcasting local DC Fire/Police</li>
            <li>Created community site for networking using Django</li>
        </ul>
    </div>
    <div class="container">
        <h3 class="opacity"><b>Humans vs Zombies Inc.</b></h3>
        <h3 class="opacity">Web Developer / Ubuntu Administrator</h3>
        <h4 class="text-orange"><i class="fa fa-calendar fa-fw margin-right"></i>2006</h4>
        <ul class="large">
            <li>Created the HvZSource project providing a website to manage hosting games across 6 continents</li>
            <li>Wrote a custom Django application to manage game events and players with tags and kills</li>
            <li>Mass email campaign management with SendGrid</li>
        </ul>
    </div>
</div>